$color-black: #222831;
$color-orange: #ff8303;

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background: $color-black;
    color: #fff;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 22px;
}

.container  {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 50px 10px;
    font-size: 16px;   
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;    
    .col-2 {
        flex: 0 0 20%;
        -ms-flex: 0 0 20%;        
        padding: 15px;
        max-width: 20%;        
    }
}

.item-movie {
    h5 {
        margin-bottom: 0;
        margin-top: 5px;
        color: $color-orange;
    }
    h4 {
        margin-bottom: 7px;
        margin-top: 0;
    }
    .imgwrp {
        max-height: 323px;
        overflow: hidden;
        position: relative;
    }
}

.itemcenter {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.btnloadmore {
    background: $color-orange;
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    border:none;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btnfav {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

select {
    padding: 5px 10px;
    margin-bottom: 20px;
}

/* Desktop small screen */
@media (max-width: 992px) {
    .row {
        .col-2 {
            flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            max-width:50%
        }
    }
}
